@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%; height: 100vh;
    background-image: url('https://i0.wp.com/riocomcriancas.com.br/wp-content/uploads/2017/12/200015D7-3390-41A8-BA37-F333C408731A.jpeg?fit=1200%2C750&ssl=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
  }

/* Add a dark overlay */
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  body * {
    z-index: 1;
  }
  
  h1 {
    font-size: 60px;
    margin: -80px 0 40px;
    font-family: 'Poppins', sans-serif;
  }
  
  small{
    color: yellow;
    font-family: 'Poppins', sans-serif;
}
  
  .year {
    font-size: 200px;
    font-family: 'Lato', sans-serif;
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .countdown {
    display: none;
    transform: scale(2);
  }
  
  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  
  .time h2 {
    margin: 0 0 5px;
    font-family: 'Lato', sans-serif;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 50px;
    }
  
    .time {
      margin: 7px;
    }
  
    .time h2 {
      font-size: 25px;
      margin: 0;
    }
  
    .time small {
      font-size: 15px;
    }
  }


  @media (max-width: 500px) {
    h1 {
      font-size: 45px;
    }
  
    .time {
      margin: 4px;
    }
  
    .time h2 {
      font-size: 20px;
      margin: 0;
    }
  
    .time small {
      font-size: 10px;
    }
  }

  @media (max-width: 320px) {
    h1 {
      font-size: 30px;
    }
  
    .time {
      margin: 5px;
    }
  
    .time h2 {
      font-size: 15px;
      margin: 0;
    }
  
    .time small {
      font-size: 5.7px;
    }
  }